@import 'open-color/open-color.css';

.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper {
  width: 100%;
	background: var(--bg);
  display: flex;
  border-radius: 4px;
  flex-direction: row;
  min-height: 100%;
  flex: 1;
}

.github_wrapper {
  z-index: -1;
  composes: wrapper;
  flex-direction: column;
  visibility: hidden;
}

.github_wrapper_active {
  visibility: visible;
  z-index: 1;
  left: 0;
}

.left {
  flex: 1;
  padding: 50px 20px;
  border-radius: 4px 0 0 4px;
  background-color: var(--oc-white);
}

.left_wrapper {
  width: 100%;
  height: 100%;
}

.right {
  width: 250px;
  padding: 50px 20px;
  border-radius: 0 4px 4px 0;
  text-align: center;
  background-color: #4A4A4C;
}

.baseAvator {
  margin-right: 10px;
}

.baseName {
  flex: 1;
}

.baseInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.base_info {
  text-align: left;
  line-height: 30px;
  composes: baseText from 'STYLES/common.css';
  word-wrap: break-word;
}

.labelContainer {
  margin-top: 10px;
  margin-bottom: 10px;

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.label {
  float: left;
  margin-bottom: 5px;
}

.base_info_header {
  composes: base_info;
  padding: 20px 40px;
  border-bottom: 1px solid var(--oc-gray-2);

  & span {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.base_icon {
  composes: baseIcon from 'STYLES/common.css';
}

.right_info {
  color: var(--oc-white);
}

.right_link_info {
  composes: right_info;
  text-decoration: underline;
  cursor: pointer;
}

.right_info_tip {
  composes: right_info;
  font-size: 14px;
  opacity: 0.7;
}

.right_link {
  color: #f2f2f2;
  transition: color 0.3s;
  margin-bottom: 5px;

  &:hover {
    color: var(--oc-white);
  }
}

.user_title {
  composes: titleText from 'STYLES/common.css';
  color: var(--oc-white);
}

.user_dream {
  margin-top: 20px;
  border-top: 1px solid var(--oc-gray-3);
  padding-top: 20px;
}

.title_info {
  color: var(--oc-gray-9);
  font-size: 20px;
  line-height: 40px;
  font-weight: 600;

  & i {
    color: var(--oc-gray-9);
  }
}

.title_icon {
  color: var(--oc-gray-5);
  font-size: 20px;
}

.section {

}

.sec_section {
  margin: 10px 0;
}

.section_wrapper {
  position: relative;

  &:not(:last-child) {
    padding-bottom: 20px;

    &::after {
      content: '';
      display: block;
      width: 2px;
      top: 18px;
      bottom: 0;
      left: -30px;
      position: absolute;
      background-color: var(--oc-gray-3);
    }
  }

  &::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    left: -33px;
    top: 5px;
    position: absolute;
    border: 2px solid var(--oc-gray-7);
  }
}

.info_wrapper {
  padding: 0 30px;
  margin: 10px 0 20px;
  position: relative;
  margin-left: 6px;

  &.base_info::after {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    top: 8px;
    bottom: 4px;
    left: 0;
    background-color: var(--oc-gray-4);
  }
}

.info_timeline {
  composes: info_wrapper;
  margin-left: 30px;
}

.info_header {
  height: 25px;
  line-height: 25px;
  display: inline-block;
  composes: baseText from 'STYLES/common.css';

  & i {
    font-size: 14px;
  }
}

.info_header_large {
  font-size: 18px;
}

.info_header_mid {
  font-size: 16px;
}

.link {
  color: var(--oc-green-7);
  margin-bottom: 5px;
  text-decoration: underline;

  &:hover {
  }
}

.info_text {
  font-size: 14px;
  line-height: 25px;
  color: var(--oc-gray-5);
  white-space: pre-wrap;
}

.info_intro {
  margin-top: 10px;
  color: var(--oc-gray-6);
  font-size: 14px;
  margin-left: 18px;

  & li {
    line-height: 2em;
  }

  & .link_wrapper {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }

  & .list_link {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--oc-green-7);
    display: inline-block;
  }
}

.project_section {
  margin: 20px 0;
}

.project_labels {
  margin: 10px 0;
}

.info_label {
  font-size: 12px;
  margin-bottom: 5px;
}

.edu {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.labelContainerClassName {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.resumeLanguages {
  margin-bottom: 20px;
}
