@import 'open-color/open-color.css';

.shareHeader {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  padding: 15px;
  text-align: center;

  & img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  & blockquote {
    margin: 15px 0;
    color: var(--oc-gray-5);
  }
}

.social {
  display: flex;
  flex-direction: row;
}

.socialInfo {
  flex: 1;
  border-radius: 3px;
  padding: 7px 15px;

  & span {
    &:last-child {
      color: var(--oc-gray-5);
    }
  }
}

.socialInfoText {
  font-size: 2em;
  font-weight: bolder;
  color: var(--oc-green-8);
}


.notAdmin {
  & .mobile_card_full {
    background-color: transparent !important;
    margin: 0 !important;
    box-shadow: none !important;
    border-top: 1px solid var(--oc-gray-2);
  }
}

.mobile_card_full {
  padding: 15px 0;
  margin: 15px 0 !important;
}

.mobile_card_no_bottom {
  padding-bottom: 0 !important;
}

.languages_line {
  padding: 20px 0 !important;
}

.share_section {
  &:not(:last-child) {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--oc-gray-2);
  }
}

.repos_chart {
  width: 100%;
}

.info_with_chart_wrapper {
  width: 100%;
  margin-top: 0 !important;
}

@keyframes roating {
  100% {
    transform: rotate(360deg);
  }
}

.roating {
  animation: roating 2s linear infinite;
}

.hotmapContainer {
  box-shadow: none;
  min-height: 150px !important;
  padding-top: 10px;
  background-color: transparent !important;
}

@media (max-width: 800px) {
  .shareHeader {
    & img {
      width: 60px;
      height: 60px;
    }

    & blockquote {
      margin: 10px 0;
    }
  }
}
