@import 'open-color/open-color.css';

.analysis {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  color: var(--oc-gray-7);
  flex-direction: column;
}

.share_info_chart {
  width: 80%;
  margin-left: 10%;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.info_wrapper {
  margin-bottom: 15px;
  border-top: 1px solid var(--oc-gray-2);
}

.info_container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.share_controller {
  composes: info_container;
  height: 50px;
  width: 80%;
  justify-content: flex-start;
  position: relative;
  margin: 25px 10%;
}

.share_container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.share_link_input {
  font-size: 12px !important;
  height: 25px !important;
  line-height: 25px !important;
}
