<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="wlec@outlook.com">
    <meta name="copyright" content="ecmadao">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="{{ csrf }}">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="cache-control" content="no-cache">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ assetsPath("base.css") }}" rel="stylesheet" type="text/css">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
  <script src="{{ assetsPath("base.js") }}"></script>
  {% block js %}
  {% endblock %}
</html>
