<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="applicable-device" content="mobile">
    <meta name="renderer" content="webkit">
    <meta name="author" content="wlec@outlook.com">
    <meta name="copyright" content="ecmadao">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no,target-densitydpi=device-dpi">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="full-screen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="renderer" content="webkit">
    <meta name="x5-fullscreen" content="true">
    <meta name="360-fullscreen" content="true">
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="{{ csrf }}">
    <title>{{ title }}</title>
    <link href="http://obpykithy.bkt.clouddn.com/hawkeye/styles/fonts.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ assetsPath("base.css") }}" rel="stylesheet" type="text/css">
    <style>
      #wechat-image {
        position: absolute;
        z-index: -222;
        width: 0;
        height: 0;
      }
    </style>
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <img id="wechat-image" src="/vendor/images/github.png"/>
    {% block body %}
    {% endblock %}
  </body>
  <script src="{{ assetsPath("react.dll.js") }}"></script>
  <script src="{{ assetsPath("runtime.dll.js") }}"></script>
  {% block js %}
  {% endblock %}
</html>
