<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; background-color:#f7f8f9; font-family:'Alright Sans LP','Avenir Next','Helvetica Neue',Helvetica,Arial,'PingFang SC','Source Han Sans SC','Hiragino Sans GB','Microsoft YaHei','WenQuanYi MicroHei',sans-serif" width="100%">
	<tbody>
		<tr>
			<td>
			<table align="center" cellpadding="0" cellspacing="0" width="640">
				<tbody>
					<tr>
						<td style="height:20px">&nbsp;</td>
					</tr>
					<tr>
						<td height="10">&nbsp;</td>
					</tr>
					<tr>
						<td>
						<table cellpadding="0" cellspacing="0" width="640">
							<tbody>
								<tr style="line-height:40px">
									<td style="text-align:center" width="80">
                    <a href="https://hacknical.com?utm_medium=email" rel="noopener noreferrer" target="_blank">
                      <img src="http://oss.hacknical.com/images/logo.png" width="54" />
                    </a>
                    <div style="margin-top:20px; font-size:60px; font-weight:900; color:#37b24d;">hacknical</div>
                  </td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td height="40">&nbsp;</td>
					</tr>
					<tr>
						<td style="background-color:#fff; padding:40px 40px 0 box-shadow: 2px 2px 20px 0 rgba(0,0,0,0.3)">
						<table>
							<tbody>
								<tr height="40">
									<td style="padding-left:25px; padding-right:25px; font-size:18px; font-family:'微软雅黑','黑体',arial">Hi %name%</td>
								</tr>
								<tr height="15">
									<td>&nbsp;</td>
								</tr>
								<tr height="30">
									<td style="padding-left:55px; padding-right:55px; font-family:'微软雅黑','黑体',arial; font-size:14px; line-height:20px">
                    又到了维护简历的时候，有什么经历就赶快记录下来吧！
                    <br />
                    <br />
                    <a href="https://hacknical.com?utm_medium=email" rel="noopener noreferrer" style="display:inline-block; color:#fff; line-height:40px; background-color:#1989fa; border-radius:3px; text-align:center; text-decoration:none; font-size:14px; padding:1px 30px" target="_blank">
                      猛戳进入网站
                    </a>
                  </td>
                </tr>
                <tr height="20">
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td style="padding-left:55px; padding-right:55px; font-family:'微软雅黑','黑体',arial; font-size:12px;">
                    <p style="line-height:20px; color:#b8becc">
                        hacknial 是一个纯公益项目，只为辅助你进行数据可视化和简历创建。<br/>
                        <a href="https://github.com/ecmadao/hacknical/issues/new?template=-feedback--issue-from-email.md&title=Feedback&utm_source=hacknical.com&utm_medium=email" rel="noopener noreferrer" target="_blank" style="text-decoration:none; color:#37b24d;">
                          你的意见可以让它变得更好
                        </a>
                    </p>
                  </td>
                </tr>
                <tr height="40">
                  <td>&nbsp;</td>
                </tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td style="height:40px">&nbsp;</td>
					</tr>
					<tr>
						<td style="text-align:center; color:#7a8599; font-size:12px"
              <p>
                <a href="https://github.com/ecmadao/hacknical?utm_source=hacknical.com&utm_medium=email" rel="noopener noreferrer" style="padding:0 5px" target="_blank">
                  <img alt="" src="http://oss.hacknical.com/images/GitHub-Mark-32px.png" width="23" />
                </a>
              </p>
              <span>
                Copyright © 2018 <a style="color:#7a8599; font-size:12px" href="https://github.com/ecmadao?utm_source=hacknical.com&utm_medium=email" rel="noopener noreferrer" target="_blank">ecmadao</a> All Rights Reserved.
              </span>
						</td>
					</tr>
					<tr>
						<td style="height:50px">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
