<div class="hacknical-footer hacknical-footer-{{ locale }}">
  <div class="footer-wrapper">
    <div class="footer-section footer-left">
      <img class="footer-image" src="{{ assetsPath("vendor/images/hacknical-logo.png") }}"/>
      &nbsp;&nbsp;
      <div class="footer-logoText">
        hacknical
      </div>
    </div>

    <div class="footer-section footer-right">
      {% if not isMobile %}
        <span class="footer-intro">
          <i class="fa fa-code" aria-hidden="true"></i> by <a href="https://github.com/ecmadao" target="_blank">ecmadao</a> with <i class="fa fa-heart" aria-hidden="true"></i>
        </span>
        &nbsp;&nbsp;&nbsp;
      {% endif %}
      <a rel="noopener" href="https://github.com/ecmadao/hacknical/blob/master/doc/ABOUT-{{ locale }}.md" target="_blank">{{ footer.about }}</a>
      &nbsp;&nbsp;
      {% if not isMobile %}
        <a rel="noopener" href="https://github.com/ecmadao/hacknical/issues" target="_blank">{{ footer.feedback }}</a>
        &nbsp;&nbsp;
        <a rel="noopener" href="https://github.com/ecmadao/hacknical" target="_blank">{{ footer.code }}</a>
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        <a rel="noopener" href="http://www.miibeian.gov.cn" target="_blank">京ICP备17008129号-1</a>
      {% endif %}
    </div>
  </div>
</div>
