<div class="hacknical-footer">
  <div class="footer-wrapper">
    <div class="footer-section footer-left">
      <img class="footer-image" src="{{ vendorPath("images/hacknical-logo.png") }}"/>
      &nbsp;&nbsp;
      <div class="footer-logo">
        hacknical
      </div>
    </div>
    <div class="footer-section footer-right">
      <span class="footer-intro">
        build by <a href="https://github.com/ecmadao" target="_blank">ecmadao</a> with ❤️
      </span>&nbsp;&nbsp;
      <a href="https://github.com/ecmadao/hacknical/blob/master/doc/ABOUT-zh.md" target="_blank">{{ about }}</a>&nbsp;&nbsp;
      <a href="https://github.com/ecmadao/hacknical/issues" target="_blank">{{ feedback }}</a>&nbsp;&nbsp;
      <a href="https://github.com/ecmadao/hacknical" target="_blank">{{ code }}</a>
    </div>
  </div>
</div>
