.input {
  outline: none;
  background-color: #fff;
  transition: all 0.2s;
  font-size: 12px;
  color: #4a4a4a;
  padding: 0 15px;
  flex: 1;
  border-radius: 2px;
  margin: 10px 5px;
  font-family: 'Lato', sans-serif;

  &::-moz-placeholder {
    color: #BEBEBE;
  }

  &::-webkit-input-placeholder {
    color: #BEBEBE;
  }

  &:-ms-input-placeholder {
    color: #BEBEBE;
  }

  &.material {
    border: none;
    height: 35px;
    line-height: 35px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.10), 0 0 4px 0 rgba(0, 0, 0, 0.08);

    &:focus {
      box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.10), 0 0 2px 0 rgba(0, 0, 0, 0.08);
    }
  }

  &.flat {
    height: 30px;
    line-height: 30px;
    border: 1px solid #CBCBCB;

    &:focus {
      border: 1px solid #4990E2;
    }
  }
}
