.input_group_wrapper {
  flex: 1;
  position: relative;
  display: flex;
  margin: 0 5px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.input {
  margin-left: 0;
  margin-right: 0;
}
