@import 'open-color/open-color.css';

.wrapper {
  padding: 15px 0 0;
  width: 100%;
}

.container {
  & .infoWrapper {
    padding: 10px 0px 10px 15px;

    &:last-child {
      & .infoCard {
        width: 150px;
        padding-right: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  & .infoCard {
    padding: 10px 15px;

    & i {
      margin-right: 10px;
    }
  }
}
