.idea
.vscode
*.DS_Store
/app/config/webpack-assets.json
/config/development.json
/config/production.json
/data/
/dist
/log
/node_modules
/public/dll
/public/assets
/public/downloads
/public/uploads/
