@import 'open-color/open-color.css';

.buttonContainer {
  pointer-events: auto;

  &:hover {
    & .buttonContent {
      transform: translate(-1px, 1px);
    }
  }

  &:active {
    & .buttonContent {
      transform: translate(4px, 4px);
    }
  }
}

.buttonWrapper {
  display: inline-block;
  position: relative;

  &::before {
    content: '';
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    transform: translate(5px, 5px);
    border-radius: 1px;
    transition: background-color 0.15s;
  }
}

.buttonWrapper.wrapper_light {
  & .buttonContent {
    color: var(--oc-black);
    background-color: var(--oc-white);
  }

  &::before {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.buttonWrapper.wrapper_dark {
  & .buttonContent {
    color: var(--oc-white);
    background-color: var(--oc-gray-9);
  }

  &::before {
    background-color: rgba(34, 37, 41, 0.3);
  }
}

.buttonContent {
  padding: 10px 15px;
  font-size: 1rem;
  transform: translate(-4px, -4px);
  cursor: pointer;
  border-radius: 1px;
  transition: transform 0.15s;
  user-select: none;
}
