* {
  margin: 0;
  padding: 0;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('SRC/styles/fonts/latin-ext.woff2') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('SRC/styles/fonts/latin.woff2') format('woff2');
}

body,html {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  background-color: var(--bg);
}

::-webkit-scrollbar {
  background: transparent;
  width: 0;
}

:hover::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
