

* {
  margin: 0;
  padding: 0;
}

body,html {
  height: 100%;
  width: 100%;
  /*font-weight: 300;*/
  background-color: var(--bg);
}



body,html, input, textarea, pre {
  font-family: 'PingFangSC-Light', 'PingFang SC', 'Helvetica Neue', 'Lato', 'Microsoft YaHei', sans-serif;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0;
}

:hover::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

input, textarea {
  -webkit-appearance: none;
}
