@import 'open-color/open-color.css';

.card_container {
  font-size: 16px;
  color: var(--oc-gray-5);
  margin: 10px 0 20px;

  & p:first-child {
    line-height: 50px;
  }
}

.card {
  border: 1px solid transparent;
  background-color: var(--oc-white);
  position: relative;
}
