@font-face {
   font-family: 'Noto Sans SC';
   font-style: normal;
   font-weight: 400;
   src: local('NotoSansSC-Light'),
        url('./fonts/NotoSansSC-Light.woff2') format('woff2'),
        url('./fonts/NotoSansSC-Light.woff') format('woff'),
        url('./fonts/NotoSansSC-Light.otf') format('opentype');
 }