@import 'open-color/open-color.css';

.chart_info {
  padding: 10px;
  margin: 10px 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  user-select: none;
  position: relative;

  &:not(:last-child) {
    border-right: 1px solid var(--oc-gray-2);
  }

  & i {
    margin-right: 10px;
  }
}

.info_text {
  text-align: center;
}

.info_main_text {
  composes: info_text;
  font-size: 20px;
  color: var(--oc-gray-7);
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info_sub_text {
  composes: info_text;
  font-size: 14px;
  color: var(--oc-gray-5);
}

.info_tipso_container {
  position: absolute;
  right: 10px;
  top: 0px;
  color: var(--oc-gray-5);

  & i {
    font-size: 14px;
    /*cursor: pointer;*/
    margin-right: 0 !important;
  }
}

.info_tipso {
  min-width: 130px;
  font-size: 12px;
  line-height: 1.5em;
  bottom: 30px;
  color: var(--oc-gray-7);
}

@media (max-width: 800px) {
  .chart_info {
    /*padding: 0;*/
    padding: 0 10px;
  }

  .info_main_text {
    font-size: 1.6em;
  }

  .info_sub_text {
    font-size: 12px;
  }
}
