.selector_container {
  background-color: #FFF;
  color: #4a4a4a;
  font-size: 12px;
  border: 1px solid #CBCBCB;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  min-width: 4em;
  text-align: center;
  transition: border 0.1s;
  border-radius: 2px;
  position: relative;
  padding: 0 15px;
  margin: 10px 5px;

  & svg {
    fill: #4a4a4a;
    transition: background-color 0.1s;
  }

  &:hover {
    border: 1px solid #4990E2;

    & svg {
      fill: #4990E2;
    }
  }
}

.selector {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
