@import 'open-color/open-color.css';

.resume_container {
  position: relative;
  composes: dashboard_content from 'STYLES/common.css';
  max-width: 650px;
}

.resume_navigation {
  composes: card from 'STYLES/common.css';
  position: absolute;
  left: -120px;
  top: 63px;
  color: var(--oc-gray-7);
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  user-select: none;
}

.resume_operations {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  justify-content: flex-end;
  align-items: center;

  &.bottom {
    padding: 5px 50px 5px;
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.operations_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.operations_wrapper_left {
  composes: operations_wrapper;
  justify-content: flex-start;
  flex: 1;
}

.operation {
  &:last-child {
    margin-right: 0;
  }
}

.resume_section {
  flex: 1;

  & .section_wrapper {
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: var(--oc-green-7);

      &::before {
        background-color: var(--oc-green-7);
      }
    }

    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      transition: background-color 0.2s;
      background-color: var(--bgDeep);
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.active {
    & .section_wrapper {
      cursor: default;
      color: var(--oc-green-7);

      &::before {
        background-color: var(--oc-green-7);
      }
    }
  }

  &:not(:last-child)::after {
    content: '';
    display: block;
    width: 1px;
    height: 40px;
    background-color: var(--bgDeep);
    margin: 7px auto;
  }
}

.resume_sections {
  composes: card from 'STYLES/common.css';
  margin-left: 15px;
}

.info_container {
}

.single_input {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.input_group {
  display: flex;
  width: 100%;
}

.last_input {
  margin-right: 0 !important;
}

.resume_wrapper {
  display: flex;
  align-items: center;
  position: relative;

  & i.fa-link {
    color: var(--oc-gray-5);
  }

  &.with_margin {
    margin: 10px 0;
  }
}

.resume_title {
  color: var(--oc-gray-7);
  padding-left: 10px;
  border-left: 3px solid var(--oc-gray-7);
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section_title {
  composes: resume_title;
  margin: 10px 50px 15px;
}

.section_second_title {
  font-size: 14px;
  color: var(--oc-gray-7);
  margin-top: 10px;
  margin-bottom: 5px;
}

.resume_add {
  color: var(--oc-green-5);
  font-size: 14px;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
  margin-top: 15px;

  & i {
    color: var(--oc-green-5);
  }
}

.resume_add_button {
  color: var(--oc-white);
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: 5px;
  display: inline-block;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s, box-shadow 0.2s;
  border-radius: 2px;
  background-color: var(--oc-gray-7);
  padding: 10px 20px;

  & i {
    color: var(--oc-white);
  }

  &:hover {
    opacity: 1;
    box-shadow: var(--shadow4);
  }
}

.SingleDatePicker {
  flex: 1;
}

.SingleDatePickerInput {
  margin: 10px 5px;
  border: 1px solid var(--oc-gray-5) !important;
  border-radius: 2px;

  & .DateInput {
    font-size: 14px !important;
    line-height: inherit !important;
    padding: 7px !important;
    display: block;
    width: auto !important;
  }
}

.resume_button_container {
  padding: 0 50px;
  border-bottom: 1px solid var(--bgDeep);
}

.resume_section_container {
  padding-top: 20px;

  & .resume_piece_container {
    &:first-child {
      padding-top: 0;
    }
  }
}

.resume_piece_container {
  padding: 0 50px 15px;
  position: relative;

  &:first-child {
    padding-top: 20px;
  }

  &.large {
    padding-left: 55px;
    padding-right: 55px;

    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--bgDeep);
  }

  &:not(:first-child) {
    padding-top: 15px;

    & .resume_delete {

      &.project_delete {
        top: 50px;
      }
    }
  }

  & .resume_delete {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.2s;

    &.project_delete {
      top: 25px;
    }

    & i {
      color: var(--oc-red-5);
    }
  }

  &:hover {
    & .resume_delete {
      opacity: 1;
    }
  }
}

.project_wrapper {
  display: flex;
  flex-direction: column;
}

.project_container {
  &:hover {
    & .project_delete {
      opacity: 1;
    }
  }
}

.project_name_wrapper {
  display: flex;
  position: relative;
}

.project_delete {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.2s;

  & i {
    color: var(--oc-red-5);
  }
}

/* others account link */
.resume_link {
  width: 80px;
  height: 80px;
  border-radius: 2px;
  cursor: pointer;
  margin: 5px;
  position: relative;
  border: 1px solid var(--oc-gray-3);
  background-color: var(--oc-white);
  transition: background-color 0.2s;

  & img {
    width: 50px;
    height: 50px;
    margin: 15px;
  }

  &.active,
  &:hover {
    background-color: var(--oc-gray-3);
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.project_link_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon_button {
  margin-left: 0 !important;
  margin-right: 5px !important;
  display: inline-flex;
}

.icon_button_tipso {
  min-width: 150px;
  font-size: 12px;
  line-height: 1.5em;
  color: var(--oc-gray-7);
}

.tipso_input {
  font-size: 12px;
}

.tipso_input_long {
  width: 260px;
}
