@import 'open-color/open-color.css';

.resume_container {
  position: relative;
  composes: dashboard_content from 'STYLES/common.css';
  max-width: 650px;
}

.resume_operations {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  justify-content: flex-end;
  align-items: center;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 1;

  &.bottom {
    padding: 5px 50px 5px;
    /* border-bottom: 1px solid var(--bgDeep); */
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.resume_operations-hidden {
  opacity: 0;
  transform: translateY(-15%) scale(1);
}

.resume_operations-entering {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.resume_operations-entered {
  opacity: 1;
  transform: initial;
}

.resume_operations-exiting {
  opacity: 0;
  transform: translateY(-15%) scale(1);
}

.operations_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.operation_button_with_right_margin {
  margin-right: 20px;
}

.operations_wrapper_left {
  composes: operations_wrapper;
  justify-content: flex-start;
  flex: 1;
}

.operation {
  margin-top: 0px;
  margin-bottom: 0px;

  &:last-child {
    margin-right: 0;
  }
}

.resume_sections {
  composes: card from 'STYLES/common.css';
  margin-left: 15px;
  transition: transform 0.1s, opacity 0.1s;
  opacity: 1;
  box-shadow: none;
}

.resume_sections-hidden {
  opacity: 0;
  transform: translateX(-5%) scale(1);
}

.resume_sections-entering {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.resume_sections-entered {
  opacity: 1;
  transform: initial;
}

.resume_sections-exiting {
  opacity: 0;
  transform: scale(0.9);
}

.info_container {
}

.single_input {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.input_group {
  display: flex;
  width: 100%;
}

.last_input {
  margin-right: 0 !important;
  flex: initial;
}

.phoneWrapper {
  flex: 1;
  position: relative;
  display: flex;
}

.phoneInput {
  margin-right: 0;
  margin-left: 5px !important;
}

.phoneTipWarpper {
  position: absolute;
  right: 0;
  top: 10px;
}

.phoneVisiable {
  height: 36px;
  width: 36px;
  margin: 0px;
}

.resume_wrapper {
  display: flex;
  align-items: center;
  position: relative;

  & i.fa-link {
    color: var(--oc-gray-5);
  }

  &.with_margin {
    margin: 10px 0;
  }
}

.resumeLinks_wrapper {
  composes: resume_wrapper;
  display: initial;
}

.rowRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.resumeSwitcherWrapper {
  composes: resume_wrapper;
  font-size: 14px;
  justify-content: flex-end;
}

.resume_title {
  color: var(--oc-gray-7);
  padding-left: 10px;
  border-left: 3px solid var(--oc-gray-7);
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section_title {
  composes: resume_title;
  margin: 10px 50px 15px;
  border-left: none;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 22px;
    left: -2px;
    top: 5px;
    background-color: var(--oc-gray-5);
  }
}

.sectionTitleInput {
  padding: 0 5px;
  margin: 0;
  flex: initial;
  max-width: 300px;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
}

.sectionOperationButton {
  margin-top: 0;
  margin-bottom: 0;
}

.sectionOperationRight {
  flex: 1;
  justify-content: flex-end;
  display: flex;
}

.sectionEdit {
  color: var(--oc-gray-5);
}

.sectionRemove {
  color: var(--oc-red-5);
}

.section_second_title {
  font-size: 14px;
  color: var(--oc-gray-7);
  margin-top: 10px;
  margin-bottom: 5px;
}

.resume_add {
  color: var(--oc-green-5);
  font-size: 14px;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
  margin-top: 25px;

  & i {
    color: var(--oc-green-5);
  }
}

.resume_add_button {
  color: var(--oc-white);
  font-size: 12px;
  margin-bottom: 10px;
  margin-left: 5px;
  display: inline-block;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s, box-shadow 0.2s;
  border-radius: 2px;
  background-color: var(--oc-gray-7);
  padding: 10px 20px;

  & i {
    color: var(--oc-white);
  }

  &:hover {
    opacity: 1;
    box-shadow: var(--shadow4);
  }
}

.SingleDatePicker {
  flex: 1;
}

.SingleDatePickerInput {
  margin: 10px 5px;
  border: 1px solid var(--oc-gray-5) !important;
  border-radius: 2px;

  & .DateInput {
    font-size: 14px !important;
    line-height: initial !important;
    padding: 7px !important;
    display: block;
    width: auto !important;
  }
}

.resume_button_container {
  padding: 0 50px;
  border-bottom: 1px solid var(--bgDeep);
}

.resume_section_container {
  padding-top: 20px;

  & .resume_piece_container {
    &:first-child {
      padding-top: 0;
    }
  }
}

.resume_piece_add {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 30px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s, color 0.2s;
  transform: translate(-50%, 50%);
  color: var(--oc-gray-5);
  z-index: 1;

  &:hover {
    color: var(--oc-gray-7);
  }
}

.resume_piece_container_dragable {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.resume_piece_container {
  padding: 0 50px 15px;
  position: relative;

  &:first-child {
    padding-top: 20px;
  }

  &.large {
    padding-left: 55px;
    padding-right: 55px;

    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--bgDeep);
  }

  & .resume_delete {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    right: -42px;
    top: 50%;
    margin-top: 0;
    margin-bottom: 0;
    transform: translateY(-50%);
    transition: opacity 0.2s;

    & i {
      color: var(--oc-red-5);
    }
  }

  &:hover {
    & .resume_delete {
      opacity: 1;
    }

    & .resume_piece_add {
      opacity: 1;
    }
  }
}

.resume_list_container {
  background-color: transparent !important;
}

.resume_list_item {
  background-color: transparent !important;

  &:hover {
    background-color: var(--oc-gray-3) !important;
  }
}

.project_wrapper {
  display: flex;
  flex-direction: column;
}

.project_name_wrapper {
  display: flex;
  position: relative;
}

/* others account link */
.resume_link {
  width: 80px;
  height: 80px;
  border-radius: 2px;
  cursor: pointer;
  margin: 5px 10px 5px 0;
  position: relative;
  border: 1px solid var(--oc-gray-3);
  background-color: var(--oc-white);
  transition: background-color 0.2s;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  & img {
    width: 50px;
    height: 50px;
  }

  & .websiteIcon,
  & .websiteLoader {
    width: 50px;
    height: 50px;
    max-height: 50px;
    min-height: 50px;
  }

  &.active,
  &:hover {
    background-color: var(--oc-gray-3);
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    & .linkDelButton {
      display: block;
    }
  }
}

.resume_link_new {
  composes: resume_link;
  filter: grayscale(100%);
  transition: filter 0.6s;
  position: relative;

  & img {
    transform: scale(0.7);
  }

  &:hover {
    filter: grayscale(0%);
  }
}

.linkDelButton {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  transform: translate(50%, -50%);

  & i {
    display: inline-block;
    cursor: pointer;
    color: var(--oc-gray-5);
    font-size: 1.5em;

    &:hover {
      color: var(--oc-red-5);
    }
  }
}

.project_link_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tipsoInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.icon_button {
  margin-left: 0 !important;
  margin-right: 5px !important;
  display: inline-flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.icon_button_tipso {
  font-size: 12px;
  line-height: 1.5em;
}

.tipso_input {
  font-size: 12px !important;
}

.tipso_input_long {
  composes: tipso_input;
  width: 260px;
}

.tipso_input_large {
  height: 30px;
  line-height: 30px;
  padding: 3px 5px;
  margin: 0 10px !important;
}

.tipso_input_dark {
  border-bottom: 1px solid var(--oc-gray-5) !important;

  &:focus {
    border-bottom: 1px solid var(--oc-gray-5) !important;
  }
}

.tipso_input_light {
  color: var(--oc-white);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;

  &::-moz-placeholder {
    opacity: 0.8;
    color: var(--oc-white);
  }

  &::-webkit-input-placeholder {
    opacity: 0.8;
    color: var(--oc-white);
  }

  &:-ms-input-placeholder {
    opacity: 0.8;
    color: var(--oc-white);
  }

  &:focus {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
  }
}

.inputTipsoWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.inputGroup {
  flex: 1;
}

.tipsoInputGroup {
  margin: 0 10px !important;
}

.inputGroupTipso {
  padding-bottom: 20px;
}

.section_intro {
  display: inline-block;
  position: relative;
  color: var(--oc-gray-5);
}

.section_tipso {
  min-width: 150px;
  font-size: 12px;
  line-height: 1.5em;
}

.navSection {
  color: var(--oc-gray-5);
  background-color: var(--oc-white);
  transition: color .2s;
  height: 40px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid var(--oc-gray-3);

  & .navSectionWrapper {
    cursor: pointer;
    font-size: 12px;
  }

  & i {
    display: block;
    margin-bottom: 5px;
  }

  &:hover {
    color: var(--oc-gray-7);
  }
}

.navIcon {
  margin-right: 0px !important;
}

.navTipsoContent {
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  & .button {
    margin-bottom: 0;
    padding: 5px 15px;
  }

  & .input {
    border-bottom: 1px solid var(--oc-gray-5);
  }
}

.resumeFormItem {
  border-color: var(--oc-gray-4);
}

.resumeFormItemImportant {
  border-color: var(--oc-gray-4) !important;
}

.schoolTypes {
  position: absolute;
  top: 11px;
  right: 1px;
  height: 36px;
  background-color: var(--oc-white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.schoolType {
  background-color: var(--oc-gray-4);
  border-radius: 15px;
  font-size: 12px;
  margin: 0 4px;
  padding: 5px 10px;
}

.avator {
  width: 34px;
  height: 34px;
  max-height: 34px;
  min-height: 34px;
  cursor: pointer;
  border: 2px solid var(--oc-gray-5);
}

.avatorPlaceholder {
  width: 38px;
  height: 38px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
}

.avatorTipso {
  font-size: 12px;
  line-height: 1.5em;
}

.resume_work_techs {
  margin: 0 0 10px 0 !important;
}