@import 'open-color/open-color.css';

.modal_container {
  background-color: #F7F8F9;
  box-shadow: var(--shadow4);
  width: 70%;
  height: 100%;
  max-width: 800px;
  border-radius: 2px;
  overflow-y: auto;
  overflow-x: hidden;
  composes: common-z-index from 'STYLES/common.css';
}
