@import 'open-color/open-color.css';

.baseContainer {
  &:not(:first-child) {
    border-top: 1px solid var(--oc-gray-2);
  }
}

.infoContainer {
  display: flex;
  flex-direction: row;
  padding: 0 15px;
  align-items: center;
  composes: baseContainer;
}

.infoContainerLarge {
  composes: infoContainer;
  padding: 15px;
}

.checkInfoContainer {
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--oc-gray-2);
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.checkContainer {
}

.info {
  flex: 1;
  display: flex;
  align-items: center;
}
