.card {
  border-radius: 3px;
  transition: all 0.4s;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
  }
}

.info_card {
  border: 1px solid transparent;
}

.github_info_container {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.github_calendar {
  border-color: transparent;

  & h2:first-child {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
  }
}

.info_card_container {
  font-size: 16px;
  color: #9B9B9B;
  margin: 10px 0 20px;

  & p:first-child {
    line-height: 50px;
  }

  & .info_header {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #ddd;

    & .info_avator {
      width: 80px;

      & img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }

    & .info_user {
      flex: 1;

      & a {
        font-size: 1.3em;
        display: block;
        margin-bottom: 10px;
        text-decoration: none;
        color: #4A4A4A;
        transition: all 0.4s;

        &:hover {
          color: #4990E2;
        }
      }

      & span {
        font-size: 12px;
      }

      & blockquote {
        padding: 0 1em;
        border-left: 0.25em solid #ddd;
        margin: 15px 0;
      }
    }
  }

  & .info_content {
    display: flex;

    & .info_social {
      flex: 1;
      min-height: 90px;
      transition: all 0.4s;
      display: block;
      text-decoration: none;
      color: #9B9B9B;
      text-align: center;

      &:not(:last-child) {
        border-right: 1px solid #ddd;
      }

      &:hover {
        color: #4990E2;
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.12), 0 0 10px 0 rgba(0, 0, 0, 0.08);
      }

      & span:first-child {
        line-height: 90px;
        font-size: 2.5em;
      }
    }
  }
}

.repos_card_container {
  & #repos_review {
    width: 100%;
  }

  & .repos_show_container,
  & .repos_chart_container {
    width: 95%;
    margin-left: 2.5%;
    padding: 15px 0;
    min-height: 80px;
    display: flex;
    border-top: 1px solid #ddd;

    & .repos_chart {
      flex: 1;

      & #repos_chart {
        width: 300px !important;
        height: 300px !important;
      }
    }
  }

  & .repos_show_container {
    display: block;

    & .repos_show {
      display: flex;
      padding: 10px;
      position: relative;
      transition: all 0.4s;

      &:hover {
        background-color: #f0f0f0;
      }

      & .repos_info {
        padding-right: 50px;
        width: 100%;

        & .repos_info_name {
          text-decoration: none;
          color: #4a4a4a;
          line-height: 1.5em;
          font-size: 16px;

          &:hover {
            color: #4990E2;
          }
        }

        & span {
          font-size: 14px;
        }

        & .repos_info_forked {
          display: inline-block;
          background-color: #e4e4e4;
          margin-left: 8px;
          padding: 3px 4px;
          border-radius: 2px;
        }
      }

      & .repos_star {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
