@import 'open-color/open-color.css';

.labelsWrapper {
  flex: 1;
  margin: 10px 0;
}

.inputWrapper {
  display: inline-flex;
}

.label {
}

.wrapper {
  flex: 1;
  display: flex;
}

.intro {
  font-size: 12px;
  opacity: 0.7;
}

.input {
  flex: 0.5;
}

.droppable_horizontal {
  margin-bottom: 5px;
  background-color: transparent !important;
}

.draggable_horizontal {
  padding: 0px;
  margin: 3px 4px;
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}