@import 'open-color/open-color.css';

.container {
  position: relative;
  composes: dashboard_content from 'STYLES/common.css';
}

.navigationCard {
  &::after {
    transform: translate(10px, 10px) !important;
  }
}

.navigationCardBg {
  padding: 10px 0 !important;
  transform: initial !important;
}

.dragableWrapper {
  max-height: 450px;
  overflow-y: scroll;
}

.dragableSection {
  flex: 1;
  width: 50px;
  overflow: hidden;
  padding: 20px 10px !important;

  &::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: background-color 0.2s;
    background-color: var(--bgDeep);
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  &.active,
  &:hover {
    & .navSectionWrapper {
      color: var(--oc-green-7);
    }
    
    &::before {
      background-color: var(--oc-green-7);
    }
  }

  & .navSectionWrapper {
    cursor: pointer;
    transition: color 0.2s;
  }
}
