@import 'open-color/open-color.css';
@import "../../src/styles/base.css";

.input {
  outline: none;
  background-color: var(--oc-white);
  font-size: 14px;
  color: var(--oc-gray-7);
  padding: 3px 15px;
  flex: 1;
  border-radius: 2px;
  margin: 10px 5px;
  min-width: 60px;
  font-family: 'Lato', sans-serif;

  &::-moz-placeholder {
    color: var(--oc-gray-5);
  }

  &::-webkit-input-placeholder {
    color: var(--oc-gray-5);
  }

  &:-ms-input-placeholder {
    color: var(--oc-gray-5);
  }

  &.material {
    border: none;
    height: 35px;
    line-height: 35px;
    transition: box-shadow 0.2s;
    box-shadow: var(--shadow-input);

    &:focus {
      box-shadow: var(--shadow-input-hover);
    }

    &.error {
      border: 1px solid var(--oc-red-5);

      &:focus {
        border: 1px solid var(--oc-red-5);
      }
    }
  }

  &.flat {
    height: 30px;
    line-height: 30px;
    transition: border 0.2s;
    border: 1px solid var(--oc-gray-5);

    &:focus {
      border: 1px solid var(--oc-blue-5);
    }

    &.error {
      border: 1px solid var(--oc-red-5);

      &:focus {
        border: 1px solid var(--oc-red-5);
      }
    }
  }

  &.borderless {
    height: 24px;
    line-height: 24px;
    padding: 0 5px;
    margin: 0;
    width: 300px;
    transition: border 0.2s;
    border: 1px solid transparent;

    &:focus {
      border: 1px solid var(--oc-blue-5);
    }

    /*&.error {
      border: 1px solid var(--oc-red-5);

      &:focus {
        border: 1px solid var(--oc-red-5);
      }
    }*/

    &.underline {
      border: none;
      border-bottom: 1px solid transparent;

      &:focus {
        border-bottom: 1px solid var(--oc-blue-5);
      }

      &.error {
        border-bottom: 1px solid var(--oc-red-5);

        &:focus {
          border-bottom: 1px solid var(--oc-red-5);
        }
      }
    }
  }
}
