@import 'open-color/open-color.css';

.share {
  width: 96%;
  margin: 0 2%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  color: var(--oc-gray-7);
  flex-direction: column;
}

.share_header {
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--oc-gray-2);

  & img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  & blockquote {
    /*padding: 0 1em;*/
    /*border-left: 0.25em solid var(--oc-gray-5);*/
    margin: 15px 0;
    color: var(--oc-gray-5);
  }

  & .social {
    display: flex;
    flex-direction: row;

    & .social_info {
      flex: 1;
      border-radius: 3px;
      padding: 7px 15px;

      &:not(:last-child) {
        border-right: 1px solid var(--oc-gray-2);
      }

      & span {
        &:first-child {
          font-size: 1.8em;
          color: var(--oc-green-7);
        }

        &:last-child {
          color: var(--oc-gray-5);
        }
      }
    }
  }
}

#share_body {
  & .share_info_chart {
    &.repos_chart {
      margin-bottom: 40px;
    }
  }

  & .share_info {
    display: flex;
    flex-direction: row;

    &:not(:last-child) {
      border-bottom: 1px solid var(--oc-gray-2);
    }
  }
}

.share_chart_info {
  & .info_main_text {
    font-size: 1.8em;
    color: var(--oc-green-7);
  }

  & .info_sub_text {
    color: var(--oc-gray-5);
  }
}

.share_section {
  &:not(:last-child) {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--oc-gray-2);
  }
}

@media (max-width: 800px) {
  .share {
    font-size: 14px;
  }

  .share_header {
    & img {
      width: 60px;
      height: 60px;
    }

    & blockquote {
      margin: 10px 0;
    }
  }
}
