@import 'open-color/open-color.css';
@import "../../base/styles/base.css";

.share {
  padding: 20px 0 0;
  display: flex;
  justify-content: center;
  color: var(--oc-gray-7);
  flex-direction: column;
}

.share_header {
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--oc-gray-2);

  & img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  & blockquote {
    margin: 15px 0;
    color: var(--oc-gray-5);
  }

  & .social {
    display: flex;
    flex-direction: row;

    & .social_info {
      flex: 1;
      border-radius: 3px;
      padding: 7px 15px;

      &:not(:last-child) {
        /*border-right: 1px solid var(--oc-gray-2);*/
      }

      & span {
        &:first-child {
          font-size: 1.7em;
          color: var(--oc-green-8);
        }

        &:last-child {
          color: var(--oc-gray-5);
        }
      }
    }
  }
}

#share_body {
  & .share_info_chart {
    &.repos_chart {
      margin-bottom: 20px;
    }
  }

  & .share_info_wrapper {
    padding-bottom: 20px;
    /*overflow-x: auto;*/

    &::-webkit-scrollbar {
      background: transparent;
      width: 0;
    }

    &:hover::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
  }

  & .share_info {
    display: flex;
    flex-direction: row;

    &:not(:last-child) {
      border-bottom: 1px solid var(--oc-gray-2);
    }
  }

  & canvas {
    margin: 0 auto;
    max-width: 280px;

    &.max_canvas {
      max-width: none;
      width: 100% !important;
    }
  }
}

.chart_info_container {
  & .chart_info_wrapper {
    padding: 10px 0px 10px 15px;

    &:last-child {
      & .chart_info_card {
        width: 150px;
        padding-right: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  & .chart_info_card {
    border-radius: 2px;
    box-shadow: var(--shadow-2);
    padding: 15px 20px 5px;
    background-color: rgba(30, 104, 35, 1);

    & i {
      margin-right: 10px;
    }

    &:last-child {
      /*margin-right: 10px;*/
    }

    &:nth-child(2) {
      background-color: rgba(30, 104, 35, 0.8);
    }

    &:nth-child(3) {
      background-color: rgba(30, 104, 35, 0.6);
    }

    &:nth-child(4) {
      background-color: rgba(30, 104, 35, 0.4);
    }

    & .info_main_text {
      font-size: 1.6em;
      color: var(--oc-white);
      text-align: left;

      & i {
        opacity: 0.5;
        font-size: 0.9em;
      }
    }

    & .info_sub_text {
      font-size: 12px;
      opacity: 0.5;
      text-align: left;
      color: var(--oc-gray-1);
    }
  }
}

.commits_info_wrapper {
  padding: 0 15px;
}

.share_chart_info {
  & .info_main_text {
    font-size: 1.7em;
    color: var(--oc-green-8);
  }

  & .info_sub_text {
    color: var(--oc-gray-5);
  }
}

.share_section {
  &:not(:last-child) {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--oc-gray-2);
  }
}

@media (max-width: 800px) {
  .share {
    font-size: 14px;
  }

  .share_header {
    & img {
      width: 60px;
      height: 60px;
    }

    & blockquote {
      margin: 10px 0;
    }
  }
}
