@import 'open-color/open-color.css';
@import "../../../style/base.css";

.repos_modal_container {
  /*background-color: #F7F8F9;*/
  background-color: var(--oc-white);
  box-shadow: var(--shadow-4);
  padding: 30px;
  width: 50%;
  margin-left: 25%;
  border-radius: 2px;
  overflow-y: auto;
  z-index: 1;
}
