@import 'open-color/open-color.css';
@import "../../../../../src/styles/base.css";

.share_modal_container {
  background-color: var(--oc-white);
  color: var(--oc-gray-7);
  box-shadow: var(--shadow-4);
  padding: 30px;
  width: 50%;
  margin-left: 25%;
  border-radius: 2px;
  overflow-y: auto;
  z-index: 1;
}

.share_info_section {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
}

.share_user_info {
  & img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  & blockquote {
    padding: 0 1em;
    border-left: 0.25em solid var(--oc-gray-5);
    margin: 15px 0;
  }
}
