{% extends "layouts/base.html" %}

{% block css %}
  <link href="{{ assetsPath("assets/dashboard.bundle.css") }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
  <div id="loading">
    <div class="loading_container">
      <div class="ball-clip-rotate-multiple">
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div id="root"></div>
{% endblock %}

{% block js %}
  <script>
    window.login = "{{ login }}";
    window.isAdmin = "{{ isAdmin }}";
    window.dashboardRoute = "{{ dashboardRoute }}";
  </script>
  <script src="{{ assetsPath("vendor/qrcode.min.js") }}"></script>
  <script async defer src="{{ assetsPath("assets/dashboard.bundle.js") }}"></script>
{% endblock %}
