{% extends "layouts/base.html" %}

{% block css %}
  <link href="{{ assetsPath("login.css") }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<div id="login" class="login-main">
  <div class="topbar">
    <div class="topbar-selector">
      {% for language in languages %}
        <a href="/?locale={{ language.id }}">
          {{ language.text }}
        </a>
      {% endfor %}
    </div>
    <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id={{ clientId }}">
      {{ login }}
    </a>
    <a href="https://github.com/ecmadao/hacknical/blob/master/doc/ABOUT-{{ locale }}.md" target="_blank">
      {{ about }}
    </a>
  </div>
  <div class="login-pannel">
    <div class="title">hacknical</div>
    <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id={{ clientId }}" class="github_login_link">
      <i class="fa fa-github" aria-hidden="true"></i>&nbsp;{{ loginButtonText }}
    </a>
    <span>
      {{ loginText }}
    </span>
    <div class="statistic-container">
      <div class="statistic-loading">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="statistic-modal {% if isMobile %}{{ "statistic-modal-bottom" }}{% endif %}">
        <strong class="statistic-users"></strong>
        {{ statistic.developers }}<br />
        <strong class="statistic-pv"></strong>
        {{ statistic.githubPageview }}<br />
        <strong class="statistic-pv"></strong>
        {{ statistic.resumePageview }}<br />
        <strong class="statistic-resume"></strong>
        {{ statistic.resumes }}<br />
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  <script async defer src="{{ assetsPath("login.js") }}"></script>
{% endblock %}
