{% extends "layouts/base.html" %}

{% block css %}
  <link href="{{ assetsPath("assets/login.bundle.css") }}" rel="stylesheet" type="text/css">
  <style>
    #reset-password {
      background-color: #252525;
    }
    .login-main {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  </style>
{% endblock %}

{% block body %}
  {% if messageCode %}
    {% include "layouts/message.html" %}
  {% endif %}
  <div id="reset-password" class="login-main"></div>
{% endblock %}

{% block js %}
  <script async defer src="{{ assetsPath("assets/reset-password.bundle.js") }}"></script>
{% endblock %}
