{% extends "layouts/base.html" %}

{% block css %}
  <meta http-equiv="refresh" content="5; url=/">
  <link href="{{ assetsPath("404.css") }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
  <div class="error_container">
    <img src="/vendor/images/github_404.png" />
    <h2>&*%^$?:)@!# ???</h2><br/>
    <h4>{{ text }}</h4>
    <br/><br/>
    <div class="time_count">
      <span class="count">5</span>{{ redirectText }}
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{{ assetsPath("404.js") }}"></script>
{% endblock %}
