.card_container {
  composes: card_container from 'STYLES/common.css';
}

.card {
  composes: card from 'STYLES/common.css';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  position: relative;
}

.info_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.info {
  flex: 1;
  display: flex;
  align-items: center;
}

.info_loading {
  position: absolute;
  top: 0;
  bottom: 0;
  min-height: auto;
}
