/*table.highlighttable {
  font-family: 'Edlo';
  line-height: 1.5;

  tbody {
    td.linenos {
      padding: 5px;
    }

    td.code {
      border-left: 2px solid #fff;
      padding-left: 15px;
    }
  }
}*/

article {

  & img[alt=emoji] {
    width: 20px;
    height: 20px;
  }

  & pre,
  & .codehilite {
    padding: 10px;
    background-color: #f4f4f4;
    // line-height: 1.2em;
    margin: 10px 0;
    overflow-x: scroll;
    font-family: 'Edlo';
    line-height: 1.5;

    & pre {
      padding: 0;
      margin: 0;
      overflow-x: auto;
    }

    &::-webkit-scrollbar {
      background: transparent;
      width: 0;
    }

    &:hover::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
  }

  & img {
    display: block;
    max-width: 100%;
    margin: 20px 0;
  }

  & h3 {
    font-weight: 600;
    font-size: 1.2em;
    line-height: 3em;
  }

  & h4 {
    font-weight: 500;
    font-size: 1.1em;
    line-height: 3em;
  }

  & p {
    line-height: 1.2em;
    font-size: 14px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;

    & strong {
      line-height: 3em;
    }

    & code {
      background-color: #e6e6e6;
      padding: 2px 6px;
      border-radius: 3px;
    }
  }

  & ol,
  & ul {
    margin: 10px 0;

    & li {
      line-height: 1.5em;
      padding-left: 10px;
    }
  }

  & blockquote {
    border-left: 3px solid #B1B1B1;
    color: #868686;
    padding-left: 20px;

    & p {
      margin: 0;
      line-height: 1.4em;
    }
  }

  & a {
    text-decoration: none;
    color: #3498db;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;

    &:hover {
      color: #2980b9;
    }
  }
}
