@import 'open-color/open-color.css';

.container {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  background-color: transparent;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  user-select: none;
  margin: 15px 5px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    z-index: var(--zIndex0);
  }

  & i {
    color: var(--oc-gray-5);
  }
}

.pressed {
  &:not(.disabled) {
    background-color: var(--oc-gray-2);
  }
}

.disabled {
  cursor: not-allowed;

  &::before {
    background-color: rgba(0, 0, 0, 0.1);
    z-index: var(--zIndex1);
  }
}
