@import 'open-color/open-color.css';

.selector_container {
  background-color: var(--oc-white);
  color: var(--oc-gray-7);
  font-size: 14px;
  cursor: pointer;
  min-width: 4em;
  text-align: center;
  border-radius: 2px;
  position: relative;
  padding: 3px 15px;
  margin: 10px 5px;
  user-select: none;

  & svg {
    fill: var(--oc-gray-7);
    transition: fill 0.1s;
  }

  &:hover {
    & svg {
      fill: var(--oc-green-5);
    }
  }

  &.material {
    border: none;
    height: 35px;
    line-height: 35px;
    transition: box-shadow 0.1s;
    box-shadow: var(--shadowInput);

    &:hover {
      box-shadow: var(--shadowInputHover);
    }
  }

  &.flat {
    height: 30px;
    line-height: 30px;
    transition: border 0.1s;
    border: 1px solid var(--oc-gray-5);

    &:hover {
      border: 1px solid var(--oc-green-5);
    }
  }
}

.selector {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
