@import 'open-color/open-color.css';

.items_wrapper {
  font-size: 14px;
  list-style-type: none;

  & li {
    line-height: 1.7em;
    display: flex;
  }
}

.list_item {
  & i {
    display: none;
    cursor: pointer;
    color: var(--oc-gray-5);

    &:hover {
      color: var(--oc-red-5);
    }
  }

  &:hover {
    & i {
      display: inline-block;
    }
  }
}

.wrapper {
  flex: 1;
  display: flex;
}

.input {
  
}
