@import 'open-color/open-color.css';

.items {
  font-size: 14px;
  list-style-type: none;
  flex: 1;

  & li {
    line-height: 1.7em;
    display: flex;
  }
}

.list {
  & i {
    display: none;
    cursor: pointer;
    color: var(--oc-gray-5);
    line-height: 1.7em;

    &:hover {
      color: var(--oc-red-5);
    }
  }

  &:hover {
    & i {
      display: inline-block;
    }
  }
}

.wrapper {
  flex: 1;
  display: flex;
}

.intro {
  font-size: 12px;
  opacity: 0.7;
}

.dragable_item {
  padding: 0 5px;
}
