@import 'open-color/open-color.css';

.button-container {
  margin-top: 30px;
  margin-left: 2px;
}

.button-wrapper {
  display: inline-block;
  position: relative;

  &::before {
    content: '';
    display: block;
    background-color: var(--oc-black);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    transform: translate(10px, 10px);
    border-radius: 1px;
    transition: background-color 0.15s;
  }
}

.button {
  padding: 10px 25px;
  font-size: 2em;
  background-color: var(--oc-white);
  color: var(--oc-black);
  transform: translate(0, 0);
  cursor: pointer;
  border-radius: 1px;
  transition: transform 0.15s;
  user-select: none;
}

.button-hover {
  & .button-wrapper .button {
    transform: translate(-2px, -2px);
  }
}

.button-press {
  & .button-wrapper::before {
    background-color: transparent;
  }

  & .button-wrapper .button {
    transform: translate(8px, 8px);
  }
}
