
@import 'open-color/open-color.css';

.container {
  width: 100%;
  flex: 1;
  min-height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: var(--oc-gray-9);
  color: var(--oc-white);
}

.content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 50px 0;
  width: 80%;
  min-width: 675px;
}

.contentHeader {
  font-size: 3.5em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.contentWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.5rem;
  font-family: 'Geo', 'PingFangSC-Light', 'PingFang SC', 'Helvetica Neue', 'Microsoft YaHei', monospace, sans-serif !important;
}

.button {
  padding: 20px 30px;
}

.buttonContainer {
  margin-top: 30px;
}

@media (max-width: 800px) {
  .content {
    min-width: initial;
  }

  .contentHeader {
    font-size: 3em;
    margin-bottom: 20px;
  }

  .contentWrapper {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  .contentHeader {
    font-size: 2.5em;
  }

  .contentWrapper {
    font-size: 2rem;
  }
}
