@import 'open-color/open-color.css';
@import './animation.css';

.contentSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0;

  &:last-child {
    & .contentCursor {
      background-color: var(--oc-white);
    }
  }
}

.emoji {
  font-size: 16px;
}

.contentBottom {
  margin-bottom: 20px;
}

.contentInfo {
  line-height: 1.1em;
  font-size: 2.5em;
}

.contentCursor {
  margin-left: 5px;
  width: 8px;
  height: 20px;
}

.cursor-flash {
  animation: flash 0.7s infinite ease-in-out;
}

.cursor-loading {
  animation: loading 0.7s infinite linear;
}

@media (max-width: 800px) {
  .contentInfo {
    font-size: 1.5em;
  }
}