@import 'open-color/open-color.css';

.chart_info {
  padding: 10px 0;
  margin: 10px 0;
  display: flex;
  flex: 1;
  flex-direction: column;

  &:not(:last-child) {
    border-right: 1px solid var(--oc-gray-2);
  }

  & i {
    margin-right: 10px;
  }
}

.info_text {
  text-align: center;
}

.info_main_text {
  composes: info_text;
  font-size: 20px;
  color: var(--oc-gray-7);
  margin-bottom: 5px;
}

.info_sub_text {
  composes: info_text;
  font-size: 14px;
  color: var(--oc-gray-5);
}

@media (max-width: 800px) {
  .chart_info {
    padding: 0;
  }

  .info_main_text {
    font-size: 16px;
    line-height: 1.7em;
  }

  .info_sub_text {
    font-size: 12px;
  }
}
