@import 'open-color/open-color.css';

.info_content {
  display: flex;
  width: 100%;

  & .info_social {
    flex: 1;
    min-height: 90px;
    display: block;
    text-decoration: none;
    text-align: center;

    &:first-child {
      margin-left: 15px;
    }

    &:last-child {
      margin-right: 15px;
    }
  }
}

.infoText {
  line-height: 90px;
  font-size: 2.5em;
  display: inline-block;
  margin-right: 10px;
  font-weight: bolder;
}

.infoTextSub {
  font-size: 1.5em;
  color: var(--oc-gray-5);
}

.socialCard {
  padding: 0;
  margin: 0;
}
