@import 'open-color/open-color.css';

:root {
  --mainFontSize: 16px;
}

.titleText {
  font-size: 1.5em;
  color: var(--oc-gray-9);
}

.container {
  width: 100%;
  min-height: 100%;
  position: relative;
  background-color: var(--oc-white);
  box-shadow: var(--shadow1);
  border-radius: 4px;
}

.github_wrapper {
  width: 100%;
  border-radius: 4px;
  min-height: 100%;
  padding-bottom: 20px;
  flex-direction: column;
  visibility: visible;
  z-index: 1;
  left: 0;
}

.baseLink {
  transition: color 0.2s;
  cursor: pointer;
  color: var(--oc-green-7) !important;
}

.baseInfo {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  & i {
    margin-right: 7px;
  }
}

.githubBack {
  margin: 30px;
}

.section {
  padding: 15px 40px;
}

.sectionHeader {
  composes: titleText;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sectionTitle {
  margin-right: 20px;
}

.headerLine {
  height: 1px;
  flex: 1;
  background-color: var(--oc-gray-3);
}

.githubCard {
  border: 1px solid var(--oc-gray-4) !important;
  box-shadow: none !important;
}

.labelContainer {
  margin-top: 10px;
  margin-bottom: 10px;

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.label {
  float: left;
  margin-bottom: 5px;
}

.resumeLanguages {
  font-size: 14px;
  color: var(--oc-gray-5);
}

.resumeLanguage {
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s;

  &:hover {
    color: var(--oc-green-5);
  }
}

.resumeLanguageActived {
  cursor: default;
  color: var(--oc-green-5);
}

.desktop_container {
  width: 80%;
  height: 100%;
  max-width: 800px;
  margin: 50px auto;
}

.mobile_container {
  font-size: var(--mainFontSize);
}