@import 'open-color/open-color.css';

.modalContainer {
  background-color: var(--bg);
  box-shadow: var(--shadow4);
  width: 500px;
  margin: 0 auto;
  height: 200px;
  border-radius: 2px;
  overflow-y: auto;
  composes: common-z-index from 'STYLES/common.css';
  display: flex;
  flex-direction: row;
  position: relative;

  & blockquote {
    padding: 0 1em;
    font-size: 14px;
    line-height: 1.2em;
    margin-bottom: 10px;
    color: var(--oc-gray-5);
    border-left: 0.25em solid var(--oc-gray-5);
  }

  &.disabled {
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      border-radius: 2px;
      content: '';
      display: block;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: var(--zIndex1);
    }
  }
}

.qrcode {
  width: 120px;
  height: 120px;
  padding: 40px;
  border-right: 1px dashed var(--oc-gray-5);
}

.info {
  flex: 1;
  padding: 40px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.controller {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.status {
  flex: 1;
  /*padding: 0 10px;*/

  &.notopen {
    color: var(--oc-gray-5);
  }
}

.shareContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.shareInput {
  max-width: 150px;
}