.card_container {
  composes: card_container from 'STYLES/common.css';
}

.card {
  composes: card from 'STYLES/common.css';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.share_controller_card {
  composes: card;
  padding: 15px;
  margin-bottom: 10px;
}

.disabled {
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: var(--zIndex1);
  }
}

.info_container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.share_controller {
  composes: info_container;
  height: 50px;
  width: 100%;
  justify-content: flex-start;
  position: relative;
}

.share_container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.chart_container {
  composes: info_container;
  width: 100%;
  margin-bottom: 15px;

  &:not(:last-child) {
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 15px;
  }
}

.chart_info_container {
  composes: chart_info_container from 'STYLES/common.css';
  margin-bottom: 15px;
}

.radar_chart {
  flex: 1;
  max-width: 45%;
}

.qrcode_container {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  & span {
    line-height: 25px;
  }
}
