
@import 'open-color/open-color.css';

.section {
  flex: 1;
  width: 50px;
  overflow: hidden;

  & .sectionWrapper {
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: var(--oc-green-7);

      &::before {
        background-color: var(--oc-green-7);
      }
    }

    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      transition: background-color 0.2s;
      background-color: var(--bgDeep);
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.active {
    & .sectionWrapper {
      cursor: default;
      color: var(--oc-green-7);

      &::before {
        background-color: var(--oc-green-7);
      }
    }
  }

  &:not(:last-child)::after {
    content: '';
    display: block;
    width: 1px;
    height: 40px;
    background-color: var(--bgDeep);
    margin: 7px auto;
  }
}

.navigation {
  position: absolute;
  composes: card from 'STYLES/common.css';
  background-color: transparent;
  box-shadow: none;
  left: -120px;
  top: 63px;
  color: var(--oc-gray-7);
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  user-select: none;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 1;
  z-index: 1;
}

.navigationCard {
  min-width: initial;
}

.navigationCardBg {
  padding: 20px 10px;
  background-color: var(--oc-white);
}

.navigation-hidden {
  opacity: 0;
  transform: translateY(-15%);
}

.navigation-entering {
  opacity: 1;
  transform: translateY(0);
}

.navigation-entered {
  opacity: 1;
  transform: initial;
}

.navigation-exiting {
  opacity: 0;
  transform: translateY(-15%);
}

.navWrapper {
  max-height: 450px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    background: transparent;
    width: 0;
  }

  &:hover::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}
