@import 'open-color/open-color.css';

.modalContainer {
  background-color: var(--bg);
  box-shadow: var(--shadow4);
  min-width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  overflow-y: auto;
  composes: common-z-index from 'STYLES/common.css';
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px 25px 30px;
}

.imageContainer {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.imageLoading {
  position: absolute;
  width: 100%;
}

.imagePreviewContainer {
  width: 80px;
  height: 80px;
  position: relative;
}

.imagePreview {
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.avatorRemove {
  position: absolute;
  cursor: pointer;
  color: var(--oc-red-7);
  top: -7px;
  right: -4px;
}

.imageInput {
  display: none;
  opacity: 0;
  cursor: none;
  pointer-events: none;
}

.uploadTipso {
  font-size: 12px;
  line-height: 1.5em;
}

.operations {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}

.operation {
  margin-top: 0px;
  margin-bottom: 0px;

  &:last-child {
    margin-right: 0;
  }
}