{% extends "layouts/mobile.html" %}

{% block pageCSS %}
  <style>
    .mobile_topbar {
      box-shadow: none !important;
    }
  </style>
  {% if not user.isAdmin %}
    <style>
      .share {
        padding-top: 20px !important;
      }
      .share_header {
        margin: 0 !important;
        padding-bottom: 30px;
        margin-bottom: 30px;
      }
    </style>
  {% endif %}
  <link href="{{ assetsPath("mobile_github.css") }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <div class="share">
    <div class="share_header">
      <img src="{{ user['avatar_url'] }}" /><br/>
      <span>{{ user.name }}, {{ joinAt }} {{ user['created_at'] }}</span>
      {% if user.bio %}
        <blockquote>{{ user.bio }}</blockquote>
      {% endif %}
      <div class="social">
        <div class="social_info">
          <span>{{ user['public_repos'] }}</span><br/>
          <span>Repositories</span>
        </div>
        <div class="social_info">
          <span>{{ user.followers }}</span><br/>
          <span>Followers</span>
        </div>
        <div class="social_info">
          <span>{{ user.following }}</span><br/>
          <span>Following</span>
        </div>
      </div>
    </div>
    <div id="github"></div>
  </div>
  {% if not user.isAdmin %}
    <a id="share_banner" class="share_banner" href="/" target="_blank">
      <i class="fa fa-code" aria-hidden="true"></i>&nbsp;&nbsp;{{ shareText }}
    </a>
  {% endif %}
{% endblock %}

{% block pageJS %}
  <script>
    window.isAdmin = '{{ user.isAdmin }}';
    window.login = '{{ user.login }}';
  </script>
  <script src="{{ assetsPath("mobile_github.js") }}"></script>
{% endblock %}
