{% extends "layouts/base.html" %}

{% block css %}
  <link href="{{ assetsPath("mobile_github.css") }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
  <div class="share">
    <div id="github"></div>
  </div>
  {% if not user.isAdmin %}
    <a id="share_banner" class="share_banner" href="/" target="_blank">
      <i class="fa fa-code" aria-hidden="true"></i>&nbsp;&nbsp;{{ shareText }}
    </a>
  {% endif %}
{% endblock %}

{% block js %}
  <script>
    window.isAdmin = '{{ user.isAdmin }}';
    window.login = '{{ user.login }}';
  </script>
  <script src="{{ assetsPath("mobile_github.js") }}"></script>
{% endblock %}
