{% extends "layouts/mobile.html" %}

{% block pageCSS %}
  <style>
    body, html {
      background-color: #F7F8F9;
    }
    #setting {
      height: 100%;
    }
    .mobile_topbar {
      margin-bottom: 20px;
    }
  </style>
  <link href="{{ assetsPath("mobile_setting.css") }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <div id="setting" class="share_gray"></div>
{% endblock %}

{% block pageJS %}
  <script src="{{ assetsPath("mobile_setting.js") }}"></script>
{% endblock %}
