.tipso_modal_wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  padding: 23px 30px;
  color: #fff;
  font-size: 16px;
  opacity: 0;
  composes: max-z-index from 'STYLES/common.css';

  &.active {
    opacity: 1;
  }
}
