@import 'open-color/open-color.css';

.setting {
  display: flex;
  justify-content: center;
  color: var(--oc-gray-7);
  flex-direction: column;
}

.setting_section {
  flex-direction: row !important;
  justify-content: flex-end !important;

  &:not(:last-child) {
    border-bottom: 1px solid var(--oc-gray-2);
  }
}

.pane_text_container {
  flex: 1;

  & span {
    font-size: 12px;
    color: var(--oc-gray-5);
  }
}

.icon_button {
  border: 1px solid var(--oc-gray-4);
  border-radius: 2px;
}
