@import 'open-color/open-color.css';

/* main */
.app {
  width: 100%;
}

.app_top,
.app_content {
  width: 100%;
}

.app_content {
  margin-top: 80px;
}

/* header */
.app_header {
  background-color: var(--oc-white);
  color: var(--oc-gray-7);
  height: 50px;
  line-height: 50px;
}

.app_header_container {
  width: 80%;
  margin: 0 auto;
  max-width: 1248px;
  display: flex;
  max-width: 750px;
}

/* content */
.content_container {
  width: 80%;
  margin: 30px auto;
  max-width: 750px;
}

/* header */
.header_menus {
  flex: 1;
}

.header_menu_icon {
  cursor: pointer;
  display: block;
  color: var(--oc-gray-7);
  text-decoration: none;
}

.header_menu_icon_right {
  composes: header_menu_icon;
  float: right;
}

/* tipso */
.tipso {
  bottom: -90% !important;

  &::before {
    top: -11px;
    border-top: none !important;
    border-bottom: 10px solid rgba(212, 212, 212, 0.3);
  }

  &::after {
    top: -9px;
    border-top: none !important;
    border-bottom: 10px solid var(--oc-white);
  }
}
