@import 'open-color/open-color.css';

/* main */
.app {
  width: 100%;
}

.app_top,
.app_content {
  width: 100%;
}

.app_content {
  margin-top: 80px;
}

/* header */
.app_header {
  background-color: var(--oc-white);
  color: var(--oc-gray-7);
  height: 50px;
  line-height: 50px;
}

.app_header_container {
  width: 80%;
  margin: 0 auto;
  max-width: 1248px;
  display: flex;
  max-width: 750px;
}

/* content */
.content_container {
  width: 80%;
  margin: 30px auto;
  max-width: 750px;
  min-width: 675px;
}

/* header */
.header_menus {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header_menu_icon {
  cursor: pointer;
  display: block;
  color: var(--oc-gray-7);
  text-decoration: none;
}

.header_menu_icon_right {
  composes: header_menu_icon;
  position: relative;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

/* tipso */
.tipso {
  bottom: -80% !important;

  &::before {
    top: -11px;
    border-top: none !important;
    border-bottom: 10px solid rgba(212, 212, 212, 0.3);
  }

  &::after {
    top: -9px;
    border-top: none !important;
    border-bottom: 10px solid var(--oc-white);
  }
}

.menu_tipso {
  composes: tipso;
  font-size: 12px;
  color: var(--oc-white);
  min-width: 50px !important;
  background-color: var(--bgDark) !important;
  z-index: var(--zIndex999) !important;

  &::after {
    border-bottom: 10px solid var(--bgDark);
  }
}
