@import 'open-color/open-color.css';

.button {
  text-align: center;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 2px;
  opacity: 0.8;
  margin: 15px 5px;
  font-size: 12px;
  display: inline-block;
  user-select: none;

  &:hover {
    opacity: 1;
  }

  & i:first-child {
    margin-right: 10px;
  }

  & i:last-child {
    margin-left: 10px;
  }
}

.flat {
  transition: background-color 0.2s, opacity 0.2s, color 0.2s;

  &.green {
    border: 1px solid var(--oc-green-7);
    color: var(--oc-green-7);

    & i {
      color: var(--oc-green-4);
    }

    &:hover {
      background-color: var(--oc-green-7);
      color: var(--oc-white);

      & i {
        color: var(--oc-white);
      }
    }
  }

  &.red {
    border: 1px solid var(--oc-red-5);
    color: var(--oc-red-5);

    & i {
      color: var(--oc-red-5);
    }

    &:hover {
      background-color: var(--oc-red-5);
      color: var(--oc-white);

      & i {
        color: var(--oc-white);
      }
    }
  }

  &.dark {
    border: 1px solid var(--oc-gray-7);
    color: var(--oc-gray-7);

    & i {
      color: var(--oc-gray-7);
    }

    &:hover {
      background-color: var(--oc-gray-7);
      color: var(--oc-white);

      & i {
        color: var(--oc-white);
      }
    }
  }

  &.gray {
    border: 1px solid var(--oc-gray-5);
    color: var(--oc-gray-5);

    & i {
      color: var(--oc-gray-5);
    }

    &:hover {
      background-color: var(--oc-gray-5);
      color: var(--oc-white);

      & i {
        color: var(--oc-white);
      }
    }
  }
}

.material {
  color: var(--oc-white);
  box-shadow: var(--shadow3);
  transition: opacity 0.2s, box-shadow 0.2s;

  &:hover {
    box-shadow: var(--shadow5);
  }

  &.green {
    background-color: var(--oc-green-7);
  }

  &.red {
    background-color: var(--oc-red-5);
  }

  &.dark {
    background-color: var(--oc-gray-7);
  }

  &.gray {
    background-color: var(--oc-gray-5);
  }
}

.pressDown {
  &.material {
    box-shadow: var(--shadow2);
  }

  & .wrapper {
    transform: translateY(1px);
  }
}

.disabled {
  cursor: not-allowed;
}
