.modal_component {
  position: fixed;
  background-color: transparent;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  composes: hidden-z-index from 'STYLES/common.css';
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);

  & .modal_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  & .modal_container {
    display: flex;
    flex: 1;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &.active {
    opacity: 1;
    z-index: var(--zIndex999);
    background-color: rgba(0, 0, 0, 0.2);
  }

}
