@import 'open-color/open-color.css';
@import "../../../style/base.css";

.resume_modal_container {
  background-color: #F7F8F9;
  /*background-color: var(--oc-white);*/
  box-shadow: var(--shadow-4);
  padding: 30px;
  width: 70%;
  margin-left: 15%;
  border-radius: 2px;
  overflow-y: auto;
  z-index: 1;
}

.resume_info_wrapper {
  color: var(--main-text);
  padding: 15px;
  background-color: var(--flat-card);
  border-top: 1px solid var(--flat-card-border);
  border-left: 1px solid var(--flat-card-border);
  border-right: 1px solid var(--flat-card-border);

  &:last-child {
    border-bottom: 1px solid var(--flat-card-border);
  }
}

.info_title {
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  color: var(--oc-gray-9);

  & i {
    margin-right: 10px;
  }
  /*border-left: 2px solid var(--main-text);*/
  /*padding: 0 20px;*/
}

.info_wrapper {
  padding: 0 30px;
  border-left: 1px solid var(--oc-gray-4);
}

.base_info_wrapper {
  /*border-left: 1px solid var(--oc-gray-4);*/
}

.info_header {
  font-size: 16px;
  height: 25px;
  line-height: 25px;

  & i {
    font-size: 14px;
  }
}

.info_text {
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  color: var(--side-text);
}

.text_intro {
}

.edu_wrapper {
  &:not(:last-child) {
    padding-bottom: 20px;
  }
}
