.resume_container {
  position: relative;
}

.resume_navigation {
  position: absolute;
  left: -120px;
  top: 60px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: #7A7A7A;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
}

.resume_operations {

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  & .operations_wrapper {
    float: right;
  }
}

.resume_section {
  flex: 1;

  & .section_wrapper {
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: #4990E2;

      &::before {
        background-color: #4990E2;
      }
    }

    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      transition: background-color 0.2s;
      background-color: rgba(149, 149, 149, 0.25);
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.active {
    & .section_wrapper {
      cursor: default;
      color: #4990E2;

      &::before {
        background-color: #4990E2;
      }
    }
  }

  &:not(:last-child)::after {
    content: '';
    display: block;
    width: 1px;
    height: 40px;
    background-color: #7A7A7A;
    margin: 7px auto;
  }
}

.resume_sections {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  min-height: 200px;
  margin-left: 15px;
  padding: 20px 50px;
}

.info_container {
}

.resume_wrapper {
  display: flex;
}

.resume_title {
  color: #4a4a4a;
  padding-left: 10px;
  border-left: 3px solid #4a4a4a;
  margin-left: 5px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.resume_add {
  color: #4a4a4a;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 5px;
  display: inline-block;
  cursor: pointer;
  transition: color 0.2s;

  & i {
    color: #4a4a4a;
  }

  &:hover {
    color: #4990E2;

    & i {
      color: #4990E2;
    }
  }
}

.SingleDatePicker {
  flex: 1;
}

.SingleDatePickerInput {
  border: none !important;
  margin: 10px 5px;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.10), 0 0 4px 0 rgba(0, 0, 0, 0.08);

  & .DateInput {
    font-size: 14px !important;
    line-height: inherit !important;
    padding: 7px !important;
    display: block;
    width: auto !important;
  }
}

.resume_piece_container {
  padding-bottom: 15px;
  position: relative;

  &:not(:last-child) {
    border-bottom: 1px solid #f1f1f1;
  }

  &:not(:first-child) {
    padding-top: 15px;

    & .resume_delete {
      top: 33.5px;
    }
  }

  & .resume_delete {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    left: -20px;
    top: 10px;
    transform: translateY(-50%);
    transition: opacity 0.2s;

    & i {
      color: #D0011B;
    }
  }

  &:hover {
    & .resume_delete {
      opacity: 1;
    }
  }
}

.project_wrapper {
  display: flex;
  flex-direction: column;
}

.project_container {
  /*margin: 10px 0;*/
}

/*.project_title {
  color: #656565;
  font-size: 14px;
  border-left: 2.5px solid #656565;
  padding-left: 10px;
  height: 20px;
  line-height: 20px;
}*/

.project_name_wrapper {
  display: flex;
}
