@import 'open-color/open-color.css';

.container {
  composes: dashboard_content from 'STYLES/common.css';
  position: relative;
  margin-top: 100px;
}

.head_switchers {
  font-size: 14px;
  line-height: 30px;
  margin: 10px 0;
}

.head_switcher {
  color: var(--oc-gray-5);
  cursor: pointer;
  display: inline-block;
  transition: color 0.3s;
  transition: border-bottom 0.3s;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid var(--oc-gray-7);
    color: var(--oc-gray-7);
  }
}

.head_switcher_active {
  border-bottom: 2px solid transparent;
  color: var(--oc-gray-7);
}

.card_container {
  composes: card_container from 'STYLES/common.css';
  margin-top: 0;
}

.card {
  composes: card from 'STYLES/common.css';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardLite {
  border: none;
  box-shadow: none;
}

.infoCard {
  margin: 0;
}

.infoText {
  font-size: 2.5em;
  display: inline-block;
  font-weight: bolder;
}

.infoTextSub {
  font-size: 1.5em;
  color: var(--oc-gray-5);
}

.share_controller_card {
  composes: card;
  display: flex;
  padding: 0;
  flex-direction: row;
  box-shadow: none;
  z-index: 9;
  background-color: transparent;
}

.shareCard {
  margin: 0;
  display: flex;
  margin-bottom: 30px;
}

.shareCardBg {
  background-color: var(--oc-white);
  padding: 10px;
}

.logsCardBg {
  z-index: 9 !important;
}

.disabled {
  composes: card_disabled from 'STYLES/common.css';

  &::before {
    z-index: 9;
  }
}

.info_container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.share_controller {
  composes: info_container;
  height: 50px;
  width: 100%;
  justify-content: flex-start;
  position: relative;
}

.base_container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.share_container_wrapper {
  composes: base_container;
  margin-left: 10px;
}

.share_container {
  composes: base_container;
}


.chart_container {
  composes: info_container;
  width: 100%;
  margin-bottom: 15px;

  &:not(:last-child) {
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 15px;
  }
}

.pageview_chart_container {
  margin: 0 3% 15px 3%;
  width: 94%;
  position: relative;
}

.chart_info_container {
  composes: chart_info_container from 'STYLES/common.css';
  margin-bottom: 15px;
}

.radar_chart {
  flex: 1;
  max-width: 45%;
}

.radarChart {
  max-width: 250px !important;
  height: auto !important;
}

.viewDevicesChart {}

.viewSourcesChart {}

.qrcode_container {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  & span {
    line-height: 25px;
  }
}

.card_group {
  width: 100%;
  margin-top: 0;
  margin-bottom: 15px;
}

/* chart controller */
.chart_controllers {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: var(--zIndex9);
  border-radius: 2px;
  background-color: var(--oc-gray-7);
  font-size: 12px;
  padding: 7px;
  color: var(--oc-gray-5);
}

.chart_controller {
  cursor: pointer;

  &.controller_active {
    color: var(--oc-white);
  }
}

.recordsContainer {
  transition: transform 0.3s, opacity 0.3s;
  opacity: 1;
}

.recordsContainer-hidden {
  opacity: 0;
  transform: translateY(-15%);
}

.recordsContainer-entering {
  opacity: 1;
  transform: translateY(0);
}

.recordsContainer-entered {
  opacity: 1;
  transform: initial;
}

.recordsContainer-exiting {
  opacity: 0;
  transform: translateY(-15%);
}

.viewLog {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  width: 95%;

  &:not(:last-child) {
    border-bottom: 1px solid var(--oc-gray-2);
  }
}

.viewLogTop {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: var(--oc-gray-7);
  display: flex;
  flex-direction: row;
}

.viewLogBottom {
  display: flex;
  width: 100%;
  font-size: 12px;
  line-height: 18px;
  color: var(--oc-gray-5);
  flex-direction: row;
  margin-top: 5px;
}

.viewRow {
  flex: 1;
}

.viewTitle {
  width: 100%;
  font-size: 14px;
  padding: 10px 0 17px 0;
}

.logTipsoContainer {
  width: 180px;
  max-height: 250px;
  overflow-y: scroll;
}

.logTipso {
  padding: 5px 0;
}

.logTipsoMain {
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 20px;
}

.logTipsoSub {
  opacity: 0.5;
  font-size: 12px;
  margin-top: 2px;
}