@import 'open-color/open-color.css';

:root {
  --maxFontSize: 2em;
  --mainFontSize: 16px;
  --sideFontSize: 14px;
  --mainBg: var(--oc-white);
  --sideBg: var(--oc-gray-1);
  --darkBg: var(--oc-gray-2);
}

.maxText {
  color: var(--oc-gray-9);
  line-height: 2.5em;
  font-weight: bold;
  font-size: var(--maxFontSize);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mainText {
  composes: maxText;
  line-height: 2em;
  font-size: var(--mainFontSize);
}

.sideText {
  line-height: 1.5em;
  color: var(--oc-gray-7);
  font-size: var(--sideFontSize);
}

.minText {
  composes: sideText;
  color: var(--oc-gray-5);
}

.linkText {
  composes: mainText;
  display: block;
  color: var(--oc-green-7);

  & i {
    margin-right: 5px;
  }

  &.phone {
    & i {
      font-size: 1.5em;
      margin-right: 10px;
    }
  }
}

.container {
  font-size: var(--mainFontSize);
}

.resume-container {
  padding-bottom: 20px;
}

.slick {
  padding: 0!important;
}

.header-section {
  padding-bottom: 10px;
  box-shadow: var(--shadow1);
  background-color: var(--mainBg);
}

.section-header {
  padding: 10px 20px 0;
}

.resume-section {
  background-color: var(--mainBg);
  box-shadow: var(--shadow1);
  margin: 8px 0;
}

.section-row {
  display: flex;
  flex-direction: row;

  &:not(:last-child) {
    border-bottom: 1px solid var(--darkBg);
  }
}

.row-left {
  composes: minText;
  text-align: center;
  padding: 15px 0;
  width: 80px;
  border-right: 1px solid var(--sideBg);
}

.row-right {
  flex: 1;
  padding: 10px;
}

.right-container {
  padding: 0;
  width: calc(100% - 80px);
}

.right-header {
  padding: 10px;
}

.section-projects {
  composes: sideText;
  border-top: 1px solid var(--sideBg);
}

.section-project {
  padding: 10px;

  &:not(:first-child) {
    border-top: 1px solid var(--sideBg);
  }
}

.project-header {
  margin-bottom: 5px;
}

.section-list {
  color: var(--oc-gray-5);
  padding-left: 20px;
  line-height: 1.8em;
}

.resumeTip {
  composes: minText;
  padding: 8px 10px 0;
  text-align: left;
}

.section-withlink {
  overflow: hidden;
}
