@import 'open-color/open-color.css';

.selector-container {
  font-size: 14px;
  background-color: var(--oc-white);
  margin: 10px 5px;
  min-width: 4em;
  text-align: center;
  transition: background-color 0.2s, box-shadow 0.2s;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px 20px;

  color: var(--oc-gray-7);
  fill: var(--oc-gray-7);

  & svg {
    transition: background-color 0.1s;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    background-color: transparent;
    transition: background-color 0.2s;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  transform: translateY(0);
  justify-content: center;
  align-items: center;
  text-align: left;
}

.value-wrapper {
  flex: 1;
  position: relative;
}

.value-hidden {
  opacity: 0;
}

.value {
  position: absolute;
}

.material {
  border: none;
  transition: box-shadow 0.1s;
  box-shadow: var(--shadowInput);

  &:hover {
    box-shadow: var(--shadowInputHover);
  }
}

.flat {
  color: var(--oc-gray-7);
  fill: var(--oc-gray-7);
  background-color: var(--oc-white);
  transition: border 0.1s;
  border: 1px solid var(--oc-gray-5);

  & .options-wrapper {
    border: 1px solid var(--oc-gray-5);
  }
}

.selector-white {
  &.material {
    background-color: var(--oc-gray-7);
    color: var(--oc-white);
    fill: var(--oc-white);
  }

  &.flat {
    &:hover {
      color: var(--oc-white);
      fill: var(--oc-white);
      background-color: var(--oc-gray-7);
    }
  }
}

.selector-green {
  &.material {
    fill: var(--oc-white);
    color: var(--oc-white);
    background-color: var(--oc-green-5);
  }

  &.flat {
    /*&:hover {
      color: var(--oc-green-5);
      fill: var(--oc-green-5);
    }*/
  }
}

.selector-blue {
  &.material {
    fill: var(--oc-white);
    color: var(--oc-white);
    background-color: var(--oc-blue-5);
  }

  &.flat {
    &:hover {
      fill: var(--oc-blue-5);
      color: var(--oc-blue-5);
    }
  }
}

.selector-disabled {
  cursor: not-allowed;

  & .selector {
    cursor: not-allowed;
  }

  &::before {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

/* options */
.options-wrapper {
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  max-height: 400px;
  flex-direction: column;
  background-color: var(--oc-white);
  box-shadow: var(--shadowInput);
  transform: translateY(-2px);
  justify-content: center;
  align-items: flex-start;
  z-index: -1;
  visibility: hidden;
  overflow-y: auto;
  border-radius: 0 0 2px 2px;
}

.options-wrapper-active {
  z-index: 1;
  visibility: visible;
}

.option {
  height: 30px;
  width: 100%;
  text-align: left;
  line-height: 30px;
  background-color: transparent;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f2f2f2;
  }

  &:last-child {
    border-radius: 0 0 2px 2px;
  }
}

.option-active {
  cursor: default;
  background-color: #f2f2f2;
}

.option-wrapper {
  margin: 0 20px;
}
