@import 'open-color/open-color.css';

.analysis {
  display: flex;
  justify-content: center;
  color: var(--oc-gray-7);
  flex-direction: column;
}

.tabs {
  width: 100%;
  box-shadow: var(--topShadow);
}

.tabs_wrapper {
  width: 70%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.tab {
  flex: 1;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: var(--oc-gray-5);
  border-bottom: 2px solid transparent;
}

.tabActive {
  color: var(--oc-green-7);
  border-bottom: 2px solid var(--oc-green-7);
}

.share_info_chart {
  width: 80%;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.share_controller {
  justify-content: flex-start !important;
  flex-direction: row !important;
  position: relative;
}

.share_container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.share_link_input {
  font-size: 12px !important;
  height: 25px !important;
  line-height: 25px !important;
}

.card_info_wrapper {
  margin-bottom: 10px;
}

.chartCard {
  margin-bottom: 15px;
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}