@import 'open-color/open-color.css';

.card {
  border-radius: 3px;
  transition: box-shadow 0.2s;
  box-shadow: var(--shadow1);

  &:hover {
    box-shadow: var(--shadow4);
  }
}

.info_card {
  composes: card from 'STYLES/common.css';
}

.info_card_disabled {
  position: relative;

  &::after {
    display: block;
    content: '';
    position: absolute;
    border-radius: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: var(--zIndex999);
  }
}

.info_card_container {
  position: relative;
  composes: card_container from 'STYLES/common.css';
}

.empty_card {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_header {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid var(--bgDeep);

  & .info_avator {
    width: 80px;

    & img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }

  & .info_user {
    flex: 1;

    & a {
      font-size: 1.3em;
      display: block;
      margin-bottom: 10px;
      text-decoration: none;
      color: var(--oc-gray-7);
      transition: color 0.2s;

      &:hover {
        color: var(--oc-green-7);
      }
    }

    & span {
      font-size: 12px;
    }

    & blockquote {
      padding: 0 1em;
      border-left: 0.25em solid var(--oc-gray-5);
      margin: 15px 0;
    }
  }
}

.card_intro {
  display: inline-block;
  position: relative;
  color: var(--oc-gray-5);
}

.card_tipso {
  min-width: 150px;
  font-size: 12px;
  line-height: 1.5em;
  color: var(--oc-gray-7);
}

.card_operation {
  top: 50px !important;
}
