@import 'open-color/open-color.css';

.card {
  border-radius: 3px;
  transition: box-shadow 0.2s;
  box-shadow: var(--shadow1);

  &:hover {
    box-shadow: var(--shadow4);
  }
}

.info_card {
  composes: card from 'STYLES/common.css';
}

.info_card_container {
  position: relative;
  composes: card_container from 'STYLES/common.css';
}

.empty_card {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_header {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid var(--bgDeep);

  & .info_avator {
    width: 80px;

    & img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }

  & .info_user {
    flex: 1;

    & a {
      font-size: 1.3em;
      display: block;
      margin-bottom: 10px;
      text-decoration: none;
      color: var(--oc-gray-7);
      transition: color 0.2s;

      &:hover {
        color: var(--oc-green-7);
      }
    }

    & span {
      font-size: 12px;
    }

    & blockquote {
      padding: 0 1em;
      border-left: 0.25em solid var(--oc-gray-5);
      margin: 15px 0;
    }
  }
}

.card_intro {
  display: inline-block;
  position: relative;
  color: var(--oc-gray-5);
}

.card_tipso {
  min-width: 150px;
  font-size: 12px;
  line-height: 1.5em;
}

.card_operation {
  top: 50px !important;
}

.card_group {
  width: 100%;
  margin-top: 0;
  margin-bottom: 15px;
}

.cardDisabled {
  cursor: pointer;
  position: absolute;
  border-radius: 3px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: var(--zIndex9);
  transition: background-color 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.6em;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}